<% @books.each do |book| %>
  <tr>
	<td class="book-title">
	    <%= link_to book.title, book %>
	</td>
	<td class="book-author">
		<%= book.author %>
	</td>
	<td class="book-votes">
		<%= book.votes.count %>
	</td>
	<td class="book-comments">
		<%= book.comments.count %>
	</td>
	<td class="book-added-by">
		<%= book.user.name %>
	</td>
	<td class="Date-added">
	  <%= book.created_at %>
	</td>
  </tr>
<% end %>



