<tr>
	<td class="book-image">
	  <%= link_to image_tag(book.image_url, :class => 'list_image', :size => '50x50'), book %>
	</td>
	<td class="book-title">
	    <%= link_to book.title, book %>
	</td>
	<td class="book-author">
		<%= book.author %>
	</td>
	<td class="book-votes">
		<%= book.votes.count %> votes
	</td>
	<td class="book-comments">
		<%= book.comments.count %> comments
	</td>
	
</tr>



