<h1>Update book details</h1>

<%= form_for(@book) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
	<%= f.label :title %><br/>
	<%= f.text_field :title %>
  </div>
  <div class="field">
	<%= f.label :author %><br/>
	<%= f.text_field :author %>
  </div>
  <div class="field">
	<%= f.label :publisher %><br/>
	<%= f.text_field :publisher %>
  </div>
  <div class="field">
	<%= f.label :isbn %><br/>
	<%= f.text_field :isbn %>
  </div>
  <div class="field">
	<%= f.label :image_url %><br/>
	<%= f.text_field :image_url %>
  </div>
  <div class="hidden_field">
	<%= f.hidden_field :creator_id %>
  </div>
  <div class="actions">
	<%= f.submit "Update" %>
  </div>
<% end %>