<h1>The Essential List</h1>

<%= Book.all.count %> books in the List, showing 

<%= select_tag :per_page, options_for_select([10,15,20,30,9999], params[:per_page].to_i),
               :onchange => "if(this.value){window.location='?per_page='+this.value;}" %> books per page.
<br/>
<br/>

<% unless @books.empty? %>

	<%= will_paginate @books %>

	<table class="sortable">
		<tr>
		    <th class="sortable_nosort">Image</th>
			<th class="sortable_alpha">Title</th>
			<th class="sortable_alpha">Author</th>
			<th class="sortable_numeric">Votes</th>
		    <th class="sortable_numeric">Comments</th>
		</tr>
		<%= render @books %>
	</table>

	<%= will_paginate  @books %>

<% end %>
<% if signed_in? %>
  <%= link_to "Add a new book!", new_book_path, :class => "add_book_button round" %>
<% end %>
