<table class="book" summary="Book details">
	<tr class="book_list">
		
		<td class="main">
			<h1>
			  <%= @book.title %>
			</h1>
			<ul>
				<li><strong>Author</strong>  <%= @book.author %></li>
				<li><strong>Publisher</strong>  <%= @book.publisher %></li>
				<li><strong>ISBN</strong>  <%= @book.isbn %></li>
			</ul>
			
			<% if signed_in? %>
			  <% if ( current_user.admin? ) or (current_user.id == @book.creator_id ) %>
			    <br/>
			    <%= button_to "Delete this book", book_path(@book), :method => :delete, :confirm => "Are you sure", :title => "Delete book" %>
			  <% end %>
			  <br/>
			  <strong>Book added by: </strong> <%= link_to @book.user.name, @book.user %>
			  <% if ( current_user.admin? ) or (current_user.id == @book.creator_id ) %>
			    <br/>
				<%= link_to "Edit this book", edit_book_path(@book)%> 
			   <% end %>
				<br/>
				<strong>Add a comment for this book:</strong>
			   <%= render 'shared/comment_form' %>
			<% end %>
			<%= render 'shared/book_feed' %>
		</td>
		
		<td class="sidebar round">
			<strong>Total votes: </strong> <%= @book.votes_from.count %><br/>
			<%= image_tag(@book.image_url, :class => 'list_image', :size => "150x150"  )%><br/>
			<% if signed_in? %>
			  <%= render 'vote_form' %>
			<% end %>
			<br/>
			<br/>
			<iframe src="http://rcm-uk.amazon.co.uk/e/cm?t=grewarsessrea-21&o=2&p=8&l=as1&asins=<%= @book.isbn[@book.isbn.length-10,@book.isbn.length] %>&ref=tf_til&fc1=000000&IS2=1&lt1=_blank&m=amazon&lc1=0000FF&bc1=000000&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
		</td>
		
	</tr>
</table>
<% url = request.url %><br/>
<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=204944952886536&amp;xfbml=1"></script><fb:like href="<%= url %>" send="true" width="300" show_faces="true" action="recommend" font=""></fb:like>
<br/>


