<table class="book" summary="Book details">
	<tr class="book_list">
		
		<td class="main">
			<h1>
			  <%= @book.title %>
			</h1>
			<ul>
				<li><strong>Author</strong>  <%= @book.author %></li>
				<li><strong>Publisher</strong>  <%= @book.publisher %></li>
				<li><strong>ISBN</strong>  <%= @book.isbn %></li>
			</ul>
			<% if signed_in? %>
			  <strong>Book added by: </strong> <%= link_to @book.user.name, @book.user %>
			  <% if ( current_user.admin? ) or (current_user.id == @book.creator_id ) %>
			    <br/>
			    <%= link_to "Edit book details", edit_book_path(@book) %> 
				<%= button_to "Delete this book", book_path(@book), :method => :delete, :confirm => "Are you sure", :title => "Delete book" %>
			  <% end %>
			  <%= render 'shared/comment_form' %>
			<% end %>
			<%= render 'shared/book_feed' %>
		</td>
		
		<td class="sidebar round">
			<strong>Total votes: </strong> <%= @book.votes_from.count %><br/>
			<%= image_tag(@book.image_url, :class => 'list_image', :size => "150x150"  )%><br/>
			<% if signed_in? %>
			  <%= render 'vote_form' %>
			<% end %>
			
		</td>
		
	</tr>
</table>


